---
import { navLinks, socials } from './navigation.constants';
---

<header class='flex justify-between'>
  <h2 class='text-lg font-bold'><a href='/'>tasmto</a></h2>
  <ul class='flex space-x-2'>
    {
      navLinks.map((link) => (
        <li>
          <a href={link.url}>{link.name}</a>
        </li>
      ))
    }
  </ul>

  <ul class='flex space-x-2'>
    {
      socials.map((social) => (
        <li>
          <a href={social.url} target='_blank' rel='noopener noreferrer'>
            <img src={social.icon} alt='GitHub' class='w-8' />
            <span class='sr-only'>My {social.name}</span>
          </a>
        </li>
      ))
    }
  </ul>
</header>
